@model IQueryable<JupaShopGraduationProject.Models.MobilesVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-controller="Mobiles" asp-action="Create" class="btn btn-primary">Add Mobile</a>












