
@{
    ViewData["Title"] = "Home";
}

<!--Start Panner-->
<div class="">
    <div class="row">
        <div class="col-lg-12  col-md-12  col-sm-12  col-xn-12  wow fadeInDown">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#"><img src="~/Images/Panners/paner1.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img src="~/Images/Panners/paner2.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img src="~/Images/Panners/paner3.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img src="~/Images/Panners/paner4.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--End Panner-->

<section class="pt-5 pb-5">
    <div class="">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3 font-weight-bold">Recommended For You </h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn ">
                                            <img src="~/Images/Electronics/recever.jpg">
                                        </div>
                                        <span class="prand"> Prefix </span>
                                        <span class="name">Prifix 8000H1 Full HD Mini Satellite Receiver - Black</span>
                                        <span class="price">
                                            <span class="price1">340 EGP</span>
                                            <span class="over">-15%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Beuity/1001.jpg">
                                        </div>
                                        <span class="prand"> Calvin Klein</span>
                                        <span class="name">Calvin Klein IN2U - For Men - EDT - 100ml</span>
                                        <span class="price">
                                            <span class="price1">345 EGP</span>
                                            <span class="over">-70%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>

                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Beuity/1002.jpg">
                                        </div>
                                        <span class="prand"> guess</span>
                                        <span class="name">Guess By Marciano - EDp - For Women - 100 ml</span>
                                        <span class="price">
                                            <span class="price1">319 EGP</span>
                                            <span class="over">-66%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Beuity/1003.jpg">
                                        </div>
                                        <span class="prand"> Dorall</span>
                                        <span class="name">Dorall DC for Men - EDT - 100ml</span>
                                        <span class="price">
                                            <span class="price1">49 EGP</span>
                                            <span class="over">-51%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Accessoris/1004.jpg">
                                        </div>
                                        <span class="prand"> L'azurde</span>
                                        <span class="name">Miss L' by L'azurde سلسال القلب المخطط بالأحمر، من</span>
                                        <span class="price">
                                            <span class="price1">2,255 EGP</span>
                                            <span class="over">-25%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Clothes/Women/1005.jpg">
                                        </div>
                                        <span class="prand"> Dare</span>
                                        <span class="name">Dare Self Colorful Stitched Short Dress - Multicolour</span>
                                        <span class="price">
                                            <span class="price1">600 EGP</span>
                                            <span class="over">-65%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Clothes/Women/1006.jpg">
                                        </div>
                                        <span class="prand"> Mr Joe</span>
                                        <span class="name">Mr Joe Leather Ankle Boot - Dark Green</span>
                                        <span class="price">
                                            <span class="price1">449 EGP</span>
                                            <span class="over">-25%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Clothes/Men/1007.jpg">
                                        </div>
                                        <span class="prand"> Cottonil</span>
                                        <span class="name"><br>Cottonil بوكسر اطفال (6) - قطع</span>
                                        <span class="price">
                                            <span class="price1">136 EGP</span>
                                            <span class="over">-52%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />

<section class="pt-5 pb-5">
    <div class="">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3 font-weight-bold">Popular Products  </h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Accessoris/1004.jpg">
                                        </div>
                                        <span class="prand"> L'azurde</span>
                                        <span class="name">Miss L' by L'azurde سلسال القلب المخطط بالأحمر، من</span>
                                        <span class="price">
                                            <span class="price1">2,255 EGP</span>
                                            <span class="over">-25%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Clothes/Women/1005.jpg">
                                        </div>
                                        <span class="prand"> Dare</span>
                                        <span class="name">Dare Self Colorful Stitched Short Dress - Multicolour</span>
                                        <span class="price">
                                            <span class="price1">600 EGP</span>
                                            <span class="over">-65%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Clothes/Women/1006.jpg">
                                        </div>
                                        <span class="prand"> Mr Joe</span>
                                        <span class="name">Mr Joe Leather Ankle Boot - Dark Green</span>
                                        <span class="price">
                                            <span class="price1">449 EGP</span>
                                            <span class="over">-25%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Clothes/Men/1007.jpg">
                                        </div>
                                        <span class="prand"> Cottonil</span>
                                        <span class="name"><br>Cottonil بوكسر اطفال (6) - قطع</span>
                                        <span class="price">
                                            <span class="price1">136 EGP</span>
                                            <span class="over">-52%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn ">
                                            <img src="~/Images/Electronics/recever.jpg">
                                        </div>
                                        <span class="prand"> Prefix </span>
                                        <span class="name">Prifix 8000H1 Full HD Mini Satellite Receiver - Black</span>
                                        <span class="price">
                                            <span class="price1 text-danger">340 EGP</span>
                                            <span class="over">-15%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Beuity/1001.jpg">
                                        </div>
                                        <span class="prand"> Calvin Klein</span>
                                        <span class="name">Calvin Klein IN2U - For Men - EDT - 100ml</span>
                                        <span class="price">
                                            <span class="price1">345 EGP</span>
                                            <span class="over">-70%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>

                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Beuity/1002.jpg">
                                        </div>
                                        <span class="prand"> guess</span>
                                        <span class="name">Guess By Marciano - EDp - For Women - 100 ml</span>
                                        <span class="price">
                                            <span class="price1">319 EGP</span>
                                            <span class="over">-66%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Beuity/1003.jpg">
                                        </div>
                                        <span class="prand"> Dorall</span>
                                        <span class="name">Dorall DC for Men - EDT - 100ml</span>
                                        <span class="price">
                                            <span class="price1">49 EGP</span>
                                            <span class="over">-51%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />

<!--Panner-->
<div class="">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xn-6">
            <div class="media  wow zoomIn">
                <a href="#"><img src="~/Images/Panners/1008.png" alt=media></a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xn-6">
            <div class="media  wow zoomIn">
                <a href="#"><img src="~/Images/Panners/1009.png" alt=media></a>
            </div>
        </div>
    </div>
</div>

<hr />

<section class="pt-5 pb-5">
    <div class="">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3 font-weight-bold">TOP DEALS</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Mobiles/1010.jpg">
                                        </div>
                                        <span class="prand"> samsung</span>
                                        <span class="name">Samsung Galaxy Note10 Lite - 6.7-inch 12 8GB/8GB</span>
                                        <span class="price">
                                            <span class="price1">8,999 LE</span>
                                            <span class="over">-0%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Mobiles/1011.jpg">
                                        </div>
                                        <span class="prand"> samsung</span>
                                        <span class="name">Samsung Galaxy M30s موبايل ثنائي الشريحة 64 جيجا/4 جيجا 6.4 بوصة -أزرق</span>
                                        <span class="price">
                                            <span class="price1">3,445 EGP</span>
                                            <span class="over">-10%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Mobiles/1.jpg">
                                        </div>
                                        <span class="prand"> infinx</span>
                                        <span class="name">هاتف انفنكس مزدوج الكاميرا هنكتب وصف المنتج بتاعنا يعنى فى حدود سطرين</span>
                                        <span class="price">
                                            <span class="price1">2,255 EGP</span>
                                            <span class="over">-25%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Mobiles/1012.jpg">
                                        </div>
                                        <span class="prand">Huawei</span>
                                        <span class="name">Huawei Y7 prime (2019) - موبايل 6.26 بوصة - 32 جيجا بايت - أزرق</span>
                                        <span class="price">
                                            <span class="price1">2,299 EGP</span>
                                            <span class="over">-35%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Electronics/1013.jpg">
                                        </div>
                                        <span class="prand"> AI</span>
                                        <span class="name">AI 43 pro - شاشة Full HD LED مقاس 43 بوصة</span>
                                        <span class="price">
                                            <span class="price1">2,245 EGP</span>
                                            <span class="over">-24%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Electronics/1014.jpg">
                                        </div>
                                        <span class="prand"> HOHO</span>
                                        <span class="name">HOHO 24 Inch FHD LED TV - piano Black</span>
                                        <span class="price">
                                            <span class="price1">1,119 EGP</span>
                                            <span class="over">-40%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Electronics/1015.jpg">
                                        </div>
                                        <span class="prand"> AI</span>
                                        <span class="name">AI 43 pro - شاشة Full HD LED مقاس 43 بوصة</span>
                                        <span class="price">
                                            <span class="price1">2,499 EGP</span>
                                            <span class="over">-24%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Electronics/1016.jpg">
                                        </div>
                                        <span class="prand"> Samsung</span>
                                        <span class="name">Samsung UA43RU7100 - 43 بوصة HDR Flat 4K UHD</span>
                                        <span class="price">
                                            <span class="price1">5,580 EGP</span>
                                            <span class="over">-25%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />

<section class="pt-5 pb-5">
    <div class="">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3 font-weight-bold">Electronic essentials</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Electronics/1013.jpg">
                                        </div>
                                        <span class="prand"> AI</span>
                                        <span class="name">AI 43 pro - شاشة Full HD LED مقاس 43 بوصة</span>
                                        <span class="price">
                                            <span class="price1">2,245 EGP</span>
                                            <span class="over">-24%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Electronics/1014.jpg">
                                        </div>
                                        <span class="prand"> HOHO</span>
                                        <span class="name">HOHO 24 Inch FHD LED TV - piano Black</span>
                                        <span class="price">
                                            <span class="price1">1,119 EGP</span>
                                            <span class="over">-40%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Electronics/1015.jpg">
                                        </div>
                                        <span class="prand"> AI</span>
                                        <span class="name">AI 43 pro - شاشة Full HD LED مقاس 43 بوصة</span>
                                        <span class="price">
                                            <span class="price1">2,499 EGP</span>
                                            <span class="over">-24%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Electronics/1016.jpg">
                                        </div>
                                        <span class="prand"> Samsung</span>
                                        <span class="name">Samsung UA43RU7100 - 43 بوصة HDR Flat 4K UHD</span>
                                        <span class="price">
                                            <span class="price1">5,580 EGP</span>
                                            <span class="over">-25%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Mobiles/1010.jpg">
                                        </div>
                                        <span class="prand"> samsung</span>
                                        <span class="name">Samsung Galaxy Note10 Lite - 6.7-inch 12 8GB/8GB</span>
                                        <span class="price">
                                            <span class="price1">8,999 LE</span>
                                            <span class="over">-0%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Mobiles/1011.jpg">
                                        </div>
                                        <span class="prand"> samsung</span>
                                        <span class="name">Samsung Galaxy M30s موبايل ثنائي الشريحة 64 جيجا/4 جيجا 6.4 بوصة -أزرق</span>
                                        <span class="price">
                                            <span class="price1">3,445 EGP</span>
                                            <span class="over">-10%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Mobiles/1.jpg">
                                        </div>
                                        <span class="prand"> infinx</span>
                                        <span class="name">هاتف انفنكس مزدوج الكاميرا هنكتب وصف المنتج بتاعنا يعنى فى حدود سطرين</span>
                                        <span class="price">
                                            <span class="price1">2,255 EGP</span>
                                            <span class="over">-25%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12 ">
                                    <div class="cont">
                                        <div class="image wow zoomIn">
                                            <img src="~/Images/Mobiles/1012.jpg">
                                        </div>
                                        <span class="prand">Huawei</span>
                                        <span class="name">Huawei Y7 prime (2019) - موبايل 6.26 بوصة - 32 جيجا بايت - أزرق</span>
                                        <span class="price">
                                            <span class="price1">2,299 EGP</span>
                                            <span class="over">-35%</span>
                                        </span>
                                        <input type="button" value="Buy Now" class="sup">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
