
@{
    ViewData["Title"] = "Mobiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mobiles & Tablets</h1>

<!--Start Panner-->
<div class=" wow fadeInDown">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xn-13">
            <div class="media">
                <a href="#"><img src="~/Images/Panners/paner.jpg" alt=media></a>
            </div>
        </div>
    </div>
</div>
<!--End Panner-->
<!--Start Content-->
<div class="container">
    <div class="row ">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <a href="product description.html">
                        <img src="~/Images/Mobiles/1.jpg">
                    </a>
                </div>
                <span class="prand">Samsung</span>
                <span class="name">Samsung Galaxy M30s موبايل ثنائي الشريحة 64 جيجا/4 جيجا 6.4 بوصة -أزرق</span>
                <span class="price">
                    <span class="price1">3.499 EGP</span>
                    <span class="over">-5%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/2.jpg">
                </div>
                <span class="prand">Hisense</span>
                <span class="name">Hisense F23 موبايل ذكي ثنائي الشريحة - رام 2 جيجا - 16 جيجا - ذهبي</span>
                <span class="price">
                    <span class="price1">1.199 EGP</span>
                    <span class="over">-33%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/3.jpg">
                </div>
                <span class="prand">Nokia</span>
                <span class="name">Nokia 2.1 موبايل 5.5 بوصة - 8 جيجا بايت - ثنائي الشريحة - أزرق/ نحاسي</span>
                <span class="price">
                    <span class="price1">959 EGP</span>
                    <span class="over">-26%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/4.jpg">
                </div>
                <span class="prand"> Realme XT</span>
                <span class="name">Realme XT - موبايل ثنائي الشريحة 6.4 بوصة 128 / 8 جيجا بايت - أبيض</span>
                <span class="price">
                    <span class="price1">5,333 EGP</span>
                    <span class="over">-2%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/5.jpg">
                </div>
                <span class="prand"> Apple</span>
                <span class="name">Apple iPhone XR - 64 جيجا - أزرق</span>
                <span class="price">
                    <span class="price1">11.997 EGP</span>
                    <span class="over">-2%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/6.jpg">
                </div>
                <span class="prand"> Huawei</span>
                <span class="name">Huawei Y9 Prime 2019 - موبايل 6.59 بوصة - 128 جيجا /4 جيجا - أزرق</span>
                <span class="price">
                    <span class="price1">3,240 EGP</span>
                    <span class="over">-19%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/7.jpg">
                </div>
                <span class="prand"> XIAOMI</span>
                <span class="name">XIAOMI Mi 9T - 6.39-inch 128GB/6GB Mobile Phone - Glacier Blue</span>
                <span class="price">
                    <span class="price1">5,270 EGP</span>
                    <span class="over">-12%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/8.jpg">
                </div>
                <span class="prand"> Samsung</span>
                <span class="name">
                    Samsung Galaxy Note10+ - 6.8 بوصة 256 جيجا بايت/12 جيجا بايت ثنائي الشريحة 4G موبايل -
                    أبيض
                </span>
                <span class="price">
                    <span class="price1">2,255 EGP</span>
                    <span class="over">-25%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <!----------------------------------->

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <a href="product description.html">
                        <img src="~/Images/Mobiles/1.jpg">
                    </a>
                </div>
                <span class="prand">Samsung</span>
                <span class="name">Samsung Galaxy M30s موبايل ثنائي الشريحة 64 جيجا/4 جيجا 6.4 بوصة -أزرق</span>
                <span class="price">
                    <span class="price1">3.499 EGP</span>
                    <span class="over">-5%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/2.jpg">
                </div>
                <span class="prand">Hisense</span>
                <span class="name">Hisense F23 موبايل ذكي ثنائي الشريحة - رام 2 جيجا - 16 جيجا - ذهبي</span>
                <span class="price">
                    <span class="price1">1.199 EGP</span>
                    <span class="over">-33%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/3.jpg">
                </div>
                <span class="prand">Nokia</span>
                <span class="name">Nokia 2.1 موبايل 5.5 بوصة - 8 جيجا بايت - ثنائي الشريحة - أزرق/ نحاسي</span>
                <span class="price">
                    <span class="price1">959 EGP</span>
                    <span class="over">-26%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/4.jpg">
                </div>
                <span class="prand"> Realme XT</span>
                <span class="name">Realme XT - موبايل ثنائي الشريحة 6.4 بوصة 128 / 8 جيجا بايت - أبيض</span>
                <span class="price">
                    <span class="price1">5,333 EGP</span>
                    <span class="over">-2%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/5.jpg">
                </div>
                <span class="prand"> Apple</span>
                <span class="name">Apple iPhone XR - 64 جيجا - أزرق</span>
                <span class="price">
                    <span class="price1">11.997 EGP</span>
                    <span class="over">-2%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/6.jpg">
                </div>
                <span class="prand"> Huawei</span>
                <span class="name">Huawei Y9 Prime 2019 - موبايل 6.59 بوصة - 128 جيجا /4 جيجا - أزرق</span>
                <span class="price">
                    <span class="price1">3,240 EGP</span>
                    <span class="over">-19%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/7.jpg">
                </div>
                <span class="prand"> XIAOMI</span>
                <span class="name">XIAOMI Mi 9T - 6.39-inch 128GB/6GB Mobile Phone - Glacier Blue</span>
                <span class="price">
                    <span class="price1">5,270 EGP</span>
                    <span class="over">-12%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/8.jpg">
                </div>
                <span class="prand"> Samsung</span>
                <span class="name">
                    Samsung Galaxy Note10+ - 6.8 بوصة 256 جيجا بايت/12 جيجا بايت ثنائي الشريحة 4G موبايل -
                    أبيض
                </span>
                <span class="price">
                    <span class="price1">2,255 EGP</span>
                    <span class="over">-25%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <!----------------------------------->

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <a href="product description.html">
                        <img src="~/Images/Mobiles/1.jpg">
                    </a>
                </div>
                <span class="prand">Samsung</span>
                <span class="name">Samsung Galaxy M30s موبايل ثنائي الشريحة 64 جيجا/4 جيجا 6.4 بوصة -أزرق</span>
                <span class="price">
                    <span class="price1">3.499 EGP</span>
                    <span class="over">-5%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/2.jpg">
                </div>
                <span class="prand">Hisense</span>
                <span class="name">Hisense F23 موبايل ذكي ثنائي الشريحة - رام 2 جيجا - 16 جيجا - ذهبي</span>
                <span class="price">
                    <span class="price1">1.199 EGP</span>
                    <span class="over">-33%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/3.jpg">
                </div>
                <span class="prand">Nokia</span>
                <span class="name">Nokia 2.1 موبايل 5.5 بوصة - 8 جيجا بايت - ثنائي الشريحة - أزرق/ نحاسي</span>
                <span class="price">
                    <span class="price1">959 EGP</span>
                    <span class="over">-26%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/4.jpg">
                </div>
                <span class="prand"> Realme XT</span>
                <span class="name">Realme XT - موبايل ثنائي الشريحة 6.4 بوصة 128 / 8 جيجا بايت - أبيض</span>
                <span class="price">
                    <span class="price1">5,333 EGP</span>
                    <span class="over">-2%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/5.jpg">
                </div>
                <span class="prand"> Apple</span>
                <span class="name">Apple iPhone XR - 64 جيجا - أزرق</span>
                <span class="price">
                    <span class="price1">11.997 EGP</span>
                    <span class="over">-2%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/6.jpg">
                </div>
                <span class="prand"> Huawei</span>
                <span class="name">Huawei Y9 Prime 2019 - موبايل 6.59 بوصة - 128 جيجا /4 جيجا - أزرق</span>
                <span class="price">
                    <span class="price1">3,240 EGP</span>
                    <span class="over">-19%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/7.jpg">
                </div>
                <span class="prand"> XIAOMI</span>
                <span class="name">XIAOMI Mi 9T - 6.39-inch 128GB/6GB Mobile Phone - Glacier Blue</span>
                <span class="price">
                    <span class="price1">5,270 EGP</span>
                    <span class="over">-12%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xn-12">
            <div class="cont">
                <div class="image wow zoomIn">
                    <img src="~/Images/Mobiles/8.jpg">
                </div>
                <span class="prand"> Samsung</span>
                <span class="name">
                    Samsung Galaxy Note10+ - 6.8 بوصة 256 جيجا بايت/12 جيجا بايت ثنائي الشريحة 4G موبايل -
                    أبيض
                </span>
                <span class="price">
                    <span class="price1">2,255 EGP</span>
                    <span class="over">-25%</span>
                </span>
                <input type="button" value="Buy Now" class="sup">
            </div>
        </div>

    </div>
</div>
<!--End Content-->